@using MPA_MoviePosterAwards.Common
@model MPA_MoviePosterAwards.Web.Models.MovieViewModel

@{
    ViewBag.Title = Model.Title;
}
<link href="~/Content/ms-waterfall.css" rel="stylesheet" />
<script src="~/Content/ms-waterfall.js"></script>

<div style="height: 360px; width: 100%; background-color: #EEEEEE; overflow: hidden; position: relative;">
    <div class="ms-movie-background" style="background: linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,0,0.5) 33.3%,rgba(33,33,33,1.0) 66.67%,rgba(33,33,33,1.0) 100%), url(@Model.Avatar);"></div>
    <div class="ms-container ms-movie-content">
        <div>
            <table style="margin:0 auto; width:720px; min-width:720px;">
                <tbody>
                    <tr>
                        <td colspan="2" style="text-align:center;">
                            <span style="font-family:'方正清刻本悦宋简体'; font-size:2.5em;">@Model.Title</span>
                            <span style="font-size:2.0em;">@Model.Title_En</span>
                            <span style="color:#BBBBBB; font-size:1.8em;">(@Model.Year)</span>
                            <span style="color:#10761A; font-size:1.2em;">@Model.Rating</span>
                        </td>
                    </tr>
                    @if (Model.Directors.Count > 0)
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em; width:15%; vertical-align:top;">导演:</td>
                            <td>
                                @foreach (var item in Model.Directors)
                                {
                                    <a href="@item.Url">@item.Title</a>
                                    if (Model.Directors.IndexOf(item) != Model.Directors.Count - 1)
                                    {
                                        <span> / </span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    @if (Model.Writers.Count > 0)
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em; vertical-align:top;">编剧:</td>
                            <td>
                                @foreach (var item in Model.Writers)
                                {
                                    <a href="@item.Url">@item.Title</a>
                                    if (Model.Writers.IndexOf(item) != Model.Writers.Count - 1)
                                    {
                                        <span> / </span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    @if (Model.Casts.Count > 0)
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em; vertical-align:top;">主演:</td>
                            <td>
                                @foreach (var item in Model.Casts)
                                {
                                    <a href="@item.Url">@item.Title</a>
                                    if (Model.Casts.IndexOf(item) != Model.Casts.Count - 1)
                                    {
                                        <span> / </span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    @if (!Model.Genres.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">类型:</td>
                            <td>@Model.Genres</td>
                        </tr>
                    }
                    @if (!Model.Countries.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">制片国家/地区:</td>
                            <td>@Model.Countries</td>
                        </tr>
                    }
                    @if (!Model.Languages.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">语言:</td>
                            <td>@Model.Languages</td>
                        </tr>
                    }
                    @if (!Model.Pubdates.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">上映日期:</td>
                            <td>@Model.Pubdates</td>
                        </tr>
                    }
                    @if (!Model.Durations.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">片长:</td>
                            <td>@Model.Durations</td>
                        </tr>
                    }
                    @if (!Model.Aka.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">又名:</td>
                            <td>@Model.Aka</td>
                        </tr>
                    }
                    @if (!Model.Douban.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">豆瓣编号:</td>
                            <td>
                                <a href="https://movie.douban.com/subject/@Model.Douban" target="_blank">@Model.Douban</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

<style>
    .ms-movie-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,0,0.5) 33.3%,rgba(33,33,33,1.0) 66.67%,rgba(33,33,33,1.0) 100%), url(../../Resources/Pictures/9531d480c27f04d916d70201f5b59dac.jpg);
        background-position: center;
        background-size: cover;
    }

    .ms-movie-content {
        position: relative;
        height: 100%;
        clear: both;
        color: #FFFFFF;
        /*子元素垂直居中*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .ms-movie-content a {
            color: #FF3300;
            transition: 0.2s all ease;
        }

            .ms-movie-content a:hover {
                color: #F1F1F1;
                background-color: #FF3300;
            }
</style>

<div class="ms-container" style="background-color: #DDDDDD; padding:15px 0 0 0; min-height:720px;">
    <div class="ms-waterfall">
        <div class="ms-waterfall-column column-1"></div>
        <div class="ms-waterfall-column column-2"></div>
        <div class="ms-waterfall-column column-3"></div>
        <div class="ms-waterfall-column column-4"></div>
        <div class="ms-waterfall-column column-5"></div>
        <div class="ms-waterfall-column column-6"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ms-waterfall').msWaterfall('init');

        $.ajax({
            cache: true,
            type: "POST",
            url: "/Movie/GetPosters",
            data: {id:'@Model.Id'},
            datatype: JSON,
            async: true,
            error: function (request) {
                console.log("error");
            },
            success: function (data) {
                console.log("success");

                var waterfallpics = new Array();
                for (var i = 0; i < data.length; i++) {
                    waterfallpics.push({
                        url: '../../Resources/Poster_M/' + data[i].url,
                        title: data[i].title,
                        id: data[i].id
                    });
                }
                if (waterfallpics.length > 0)
                    $('.ms-waterfall').msWaterfall('appendlist', waterfallpics);
            },
            complete: function (data) {
                console.log("complete");
            },
            timeout: 20000
        });

    });

</script>