@using MPA_MoviePosterAwards.Common
@using MPA_MoviePosterAwards.Web.Models
@model MPA_MoviePosterAwards.Web.Models.MovieViewModel

@{
    ViewBag.Title = Model.Title;
}

<style>
    .ms-movie-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,0,0.5) 33.3%,rgba(33,33,33,1.0) 66.67%,rgba(33,33,33,1.0) 100%), url(../../Resources/Pictures/9531d480c27f04d916d70201f5b59dac.jpg);
        background-position: center;
        background-size: cover;
    }

    .ms-movie-content {
        position: relative;
        height: 100%;
        clear: both;
        color: #FFFFFF;
        /*子元素垂直居中*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .ms-movie-content a {
            color: #FF3300;
            transition: 0.2s all ease;
        }

            .ms-movie-content a:hover {
                color: #F1F1F1;
                background-color: #FF3300;
            }
</style>

<div class="ms-popup-contents" style="height: 436px; width: 100%; background-color: #EEEEEE; overflow: hidden; position: relative;">
    <div class="ms-movie-background" style="background: linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,0,0.5) 33.3%,rgba(33,33,33,1.0) 66.67%,rgba(33,33,33,1.0) 100%), url(@Model.Avatar);"></div>
    <div class="ms-container ms-movie-content">
        <div>
            <table style="margin:0 auto; width:720px; min-width:720px;">
                <tbody>
                    <tr>
                        <td colspan="2" style="text-align:center;">
                            <span style="font-family:'方正清刻本悦宋简体'; font-size:2.5em;">@Model.Title</span>
                            <span style="font-size:2.0em;">@Model.Title_En</span>
                            <span style="color:#BBBBBB; font-size:1.8em;">(@Model.Year)</span>
                            <span style="color:#10761A; font-size:1.2em;">@Model.Rating</span>
                        </td>
                    </tr>
                    @if (Model.Directors.Count > 0)
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em; width:15%; vertical-align:top;">导演:</td>
                            <td>
                                @foreach (var item in Model.Directors)
                                {
                                    <a href="@item.Url">@item.Title</a>
                                    if (Model.Directors.IndexOf(item) != Model.Directors.Count - 1)
                                    {
                                        <span> / </span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    @if (Model.Writers.Count > 0)
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em; vertical-align:top;">编剧:</td>
                            <td>
                                @foreach (var item in Model.Writers)
                                {
                                    <a href="@item.Url">@item.Title</a>
                                    if (Model.Writers.IndexOf(item) != Model.Writers.Count - 1)
                                    {
                                        <span> / </span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    @if (Model.Casts.Count > 0)
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em; vertical-align:top;">主演:</td>
                            <td>
                                @foreach (var item in Model.Casts)
                                {
                                    <a href="@item.Url">@item.Title</a>
                                    if (Model.Casts.IndexOf(item) != Model.Casts.Count - 1)
                                    {
                                        <span> / </span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    @if (!Model.Genre.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">类型:</td>
                            <td>@Model.Genre</td>
                        </tr>
                    }
                    @if (!Model.Country.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">制片国家/地区:</td>
                            <td>@Model.Country</td>
                        </tr>
                    }
                    @if (!Model.Language.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">语言:</td>
                            <td>@Model.Language</td>
                        </tr>
                    }
                    @if (!Model.Pubdates.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">上映日期:</td>
                            <td>@Model.Pubdates</td>
                        </tr>
                    }
                    @if (!Model.Durations.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">片长:</td>
                            <td>@Model.Durations</td>
                        </tr>
                    }
                    @if (!Model.Aka.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">又名:</td>
                            <td>@Model.Aka</td>
                        </tr>
                    }
                    @if (!Model.Douban.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">豆瓣编号:</td>
                            <td>
                                <a href="https://movie.douban.com/subject/@Model.Douban" target="_blank">@Model.Douban</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="display:inline;">
            <button class="ms-button" onclick="openDialog();" type="button">Open Avgrund</button>
        </div>
    </div>
</div>

<style>
    .ms-waterfall {
        padding: 0;
        margin: 0 -10px;
        /*float: left;*/
        overflow: hidden;
        clear: both;
    }

        .ms-waterfall .ms-waterfall-item {
            padding: 0;
            height: auto;
            display: inline-block;
            margin: 0;
            float: left;
            height: 375px;
            width: 256.6666666666667px;
            padding: 10px;
            overflow: hidden;
            transition: all 0.25s ease;
            /*background-color: aqua;*/
        }

            .ms-waterfall .ms-waterfall-item > a {
                height: 355px;
                width: 236.6666666666667px;
                overflow: hidden;
                transition: inherit;
                display: block;
                background-size: cover;
                background-position: center;
            }

                .ms-waterfall .ms-waterfall-item > a:hover {
                    box-shadow: 0 5px 10px #000000;
                    transform: translateY(-10px);
                }

    @@media (min-width:767px) {
        .ms-waterfall .ms-waterfall-item {
            height: 256.6666666666667px;
            width: 256.6666666666667px;
        }

            .ms-waterfall .ms-waterfall-item > a {
                height: 236.6666666666667px;
                width: 236.6666666666667px;
            }
    }

    @@media (min-width:995px) {
        .ms-waterfall .ms-waterfall-item {
            height: 247.5px;
            width: 247.5px;
        }

            .ms-waterfall .ms-waterfall-item > a {
                height: 227.5px;
                width: 227.5px;
            }
    }

    @@media (min-width:1199px) {
        .ms-waterfall .ms-waterfall-item {
            height: 285px;
            width: 285px;
        }

            .ms-waterfall .ms-waterfall-item > a {
                height: 265px;
                width: 265px;
            }
    }

    @@media (min-width:1439px) {
        .ms-waterfall .ms-waterfall-item {
            height: 260px;
            width: 260px;
        }

            .ms-waterfall .ms-waterfall-item > a {
                height: 240px;
                width: 240px;
            }
    }
</style>
<div class="ms-container ms-popup-contents" style="padding:0; margin:0 auto; min-height:720px;">
    <div style="margin:20px 0; font-size:2em;">@Model.Title 的海报 (共 @Model.PosterCount 张)</div>
    <div class="ms-waterfall">
        @*<div class="ms-waterfall-item">
                <a>
                    <img src="~/Resources/Poster/Hacksaw_Ridge_1_4baa193f96804f9bb872d346be5e69e8.jpg" />
                    <hi>ssss</hi>
                </a>
            </div>*@
    </div>
</div>

<script>
    var posterData;
    $(document).ready(function () {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/Movie/GetPosters",
            data: {id:'@Model.Id'},
            datatype: JSON,
            async: true,
            error: function (request) {
                console.log("error");
            },
            success: function (data) {
                console.log("success");

                posterData = data;
                refreshPoster();
            },
            complete: function (data) {
                console.log("complete");
            },
            timeout: 20000
        });

    });

    function refreshPoster() {
        console.log($('.ms-waterfall').width());
        for (var i = 0; i < posterData.length; i++) {
            $('.ms-waterfall').append('<div class="ms-waterfall-item"><a href="/Poster/Index?id=' + posterData[i].id + '" title="' + posterData[i].title + '" style="background-image:url(\'../../Resources/Poster_M/' + posterData[i].url+'\');"></a></div>');
        }
    }
</script>

@Html.Partial("Popup", new PopupViewModel { Width = "720px", Height = "480px", Title = "新增海报", Url = "/Poster/Create?movie=" + Model.Id })
