<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/ms-navbar.css" rel="stylesheet" />
    <script src="~/Content/jquery.js"></script>
    <script src="~/Content/ms-navbar.js"></script>
</head>
<body>
    <nav class="ms-navbar ms-navbar-default ms-popup-contents">
        <div class="ms-container ms-navbar-bg">
            <a class="ms-navbar-brand" href="/Home/Index">海报</a>
            <ul class="ms-nav ms-navbar-nav">
                <li class="nav-home">@Html.ActionLink("首页", "Index", "Home")</li>
                <li class="nav-movie">@Html.ActionLink("电影", "List", "Movie")</li>
                <li class="nav-celeb">@Html.ActionLink("影人", "List", "Celeb")</li>
                <li class="nav-about">@Html.ActionLink("关于", "About", "Home")</li>
                <li class="nav-contact">@Html.ActionLink("联系方式", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("电影", "List", "Movie")</li>
                        <li>@Html.ActionLink("影人", "List", "Celeb")</li>
                        <li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                        <li class="divider" role="separator"></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>
</body>
</html>
