@model List<MPA_MoviePosterAwards.Web.Models.NewestPosterViewModel>

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["WebsiteTitle"];
}

<link href="~/Content/ms-banner.css" rel="stylesheet" />
<script src="~/Content/ms-banner.js"></script>
<style>
    .ms-input-group {
        color: #FFFFFF;
        font-size: 16px;
        overflow: hidden;
        background-color: transparent;
        display: inline-block;
        border: 1px solid #FFFFFF;
        border-radius: 0px;
        padding: 0.5em 1em;
        transition: all 0.25s ease;
    }

        .ms-input-group > input {
            background-color: transparent;
            border: none;
            width: 360px;
        }

            .ms-input-group > input::-webkit-input-placeholder {
                color: #CCCCCC !important;
                font-style: italic;
            }

        .ms-input-group > span {
            background-color: transparent;
            border: none;
            margin-left: 0.5em;
        }

        .ms-input-group:hover {
            background-color: rgba(0,0,0,0.25);
        }
</style>
<div class="ms-banner">
    <div class="ms-banner-background">
        <span style="color: white; display: block; position: absolute; bottom: 1em; right: 1em;">@@材料物理_</span>
    </div>
    <div class="ms-banner-contents">
        <div style="text-align: center; margin: 0 auto;">
            <div style="font-family: '古典明朝体'; font-size: 4.2em; margin-bottom:10px;">@System.Configuration.ConfigurationManager.AppSettings["WebsiteSubTitle"]</div>
            <div class="ms-input-group">
                <input type="text" placeholder="Find your pix..." />
                <span class="fa fa-search"></span>
            </div>
            <div>热搜：xxx,xx,xxxx,xxxx,x,xx</div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.ms-navbar').removeClass('ms-navbar-default').addClass('ms-navbar-transparent');

        $('.nav-home').addClass('active');
    });
</script>
<style>
    .ms-picture-canvas {
        margin: 0 -10px;
    }

    .ms-picture-box {
        height: 256.6666666666667px;
        width: 256.6666666666667px;
        display: inline-block;
        float: left;
    }

        .ms-picture-box > div {
            height: 236.6666666666667px;
            width: 236.6666666666667px;
            margin: 10px 0 0 10px;
            background-color: #999999;
            overflow: hidden;
            position: relative;
            transition: all 0.8s ease;
        }

            .ms-picture-box > div .ms-picture-box-back {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: url('../../Resources/Poster/Hacksaw_Ridge_1_4baa193f96804f9bb872d346be5e69e8.jpg');
                background-position: center;
                background-size: cover;
                transition: all 0.6s ease;
            }

            .ms-picture-box > div .ms-picture-box-cover {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                background-color: rgba(44,44,44,0.6);
                transition: all 0.6s ease;
            }

            .ms-picture-box > div .ms-picture-box-banner {
                position: absolute;
                left: 0;
                bottom: -40px;
                height: 50px;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                background-color: #FF6600;
                color: #F1F1F1;
                padding: 0px 20px;
                transition: all 0.6s ease;
            }

                .ms-picture-box > div .ms-picture-box-banner > span {
                    display: block;
                    font-size: 12px;
                    margin-top: 4px;
                }

                    .ms-picture-box > div .ms-picture-box-banner > span > a {
                        color: #F1F1F1;
                        font-size: 15px;
                        text-decoration: underline;
                    }

        .ms-picture-box.active > div .ms-picture-box-back {
            transform: scale(0.9);
        }

        .ms-picture-box.active > div .ms-picture-box-cover {
            opacity: 1;
            visibility: visible;
        }

        .ms-picture-box.active > div .ms-picture-box-banner {
            opacity: 1;
            bottom: 0;
            visibility: visible;
        }

    @@media (min-width:767px) {
        .ms-picture-box {
            height: 256.6666666666667px;
            width: 256.6666666666667px;
        }

            .ms-picture-box > div {
                height: 236.6666666666667px;
                width: 236.6666666666667px;
            }
    }

    @@media (min-width:995px) {
        .ms-picture-box {
            height: 330px;
            width: 330px;
        }

            .ms-picture-box > div {
                height: 310px;
                width: 310px;
            }
    }

    @@media (min-width:1199px) {
        .ms-picture-box {
            height: 285px;
            width: 285px;
        }

            .ms-picture-box > div {
                height: 265px;
                width: 265px;
            }
    }

    @@media (min-width:1439px) {
        .ms-picture-box {
            height: 325px;
            width: 325px;
        }

            .ms-picture-box > div {
                height: 305px;
                width: 305px;
            }
    }
</style>



<div class="ms-container" style="padding:0px;">
    <div class="clearfix" style="margin:30px 0 15px 0;">
        <span style="display:inline-block; width:42%; border-bottom: 1px solid #E0E0E0; height:15px; float:left;"></span>
        <span style="display:inline-block; width:16%; height:30px; text-align:center; float:left; line-height:30px; font-size:22px;">最近更新</span>
        <span style="display:inline-block; width:42%; border-bottom: 1px solid #E0E0E0; height:15px; float:left;"></span>
    </div>
    <div class="clearfix ms-picture-canvas">
        @foreach (var item in Model)
        {
            <div class="ms-picture-box">
                <div>
                    <div class="ms-picture-box-back" style="background-image: url('../../Resources/Poster_M/@item.Url');"></div>
                    <a href="/Poster/Index?id=@item.ID" title="@item.MovieTite">
                        <div class="ms-picture-box-cover"></div>
                    </a>
                    <div class="ms-picture-box-banner">
                        <span><a href="/Movie/Index?id=@item.MovieID" title="@item.MovieTite">@item.MovieTite</a></span>
                        <span>@item.Time</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $('.ms-picture-box').mouseover(function () {
        $(this).addClass('active');
    });
    $('.ms-picture-box').mouseleave(function () {
        $(this).removeClass('active');
    });

    $('.ms-picture-box').click(function () {
        console.log('box click');
    });
    $('.ms-picture-box > div > .ms-picture-box-banner').click(function (event) {
        console.log('banner click');
        event.stopPropagation();
    });
</script>