@using MPA_MoviePosterAwards.Common
@model MPA_MoviePosterAwards.Web.Models.CelebViewModel

@{
    ViewBag.Title = Model.Name;
}

<div style="height: 360px; width: 100%; background-color: #EEEEEE; overflow: hidden; position: relative;">
    <div class="ms-movie-background" style="background: linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,0,0.5) 33.3%,rgba(33,33,33,1.0) 66.67%,rgba(33,33,33,1.0) 100%), url(@Model.Avatar);"></div>
    <div class="ms-container ms-movie-content">
        <div>
            <table style="margin:0 auto; width:720px; min-width:720px;">
                <tbody>
                    <tr>
                        <td colspan="2" style="text-align:center;">
                            <span style="font-family:'古典明朝体'; font-size:2.5em;">@Model.Name</span>
                            <span style="font-size:2.0em;">@Model.Name_En</span>
                        </td>
                    </tr>
                    @if (!Model.Gender.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">性别:</td>
                            <td>@Model.Gender</td>
                        </tr>
                    }
                    @if (!Model.Death_Date.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">生卒日期:</td>
                            <td>@Model.Birth_Date - @Model.Death_Date</td>
                        </tr>
                    }
                    else if (!Model.Birth_Date.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">出生日期:</td>
                            <td>@Model.Birth_Date</td>
                        </tr>
                    }
                    @if (!Model.Born_Place.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">出生地:</td>
                            <td>@Model.Born_Place</td>
                        </tr>
                    }
                    @if (!Model.Profession.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">职业:</td>
                            <td>@Model.Profession</td>
                        </tr>
                    }
                    @if (!Model.Aka.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">更多中文名:</td>
                            <td>@Model.Aka</td>
                        </tr>
                    }
                    @if (!Model.Aka_En.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">更多外文名:</td>
                            <td>@Model.Aka_En</td>
                        </tr>
                    }
                    @if (!Model.Douban.IsBlank())
                    {
                        <tr>
                            <td style="text-align:right; padding-right:1em;">出生日期:</td>
                            <td>
                                <a href="https://movie.douban.com/celebrity/@Model.Douban" target="_blank">@Model.Douban</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

<style>
    .ms-movie-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,0,0.5) 33.3%,rgba(33,33,33,1.0) 66.67%,rgba(33,33,33,1.0) 100%), url(../../Resources/Pictures/9531d480c27f04d916d70201f5b59dac.jpg);
        background-position: center;
        background-size: cover;
    }

    .ms-movie-content {
        position: relative;
        height: 100%;
        clear: both;
        color: #FFFFFF;
        /*子元素垂直居中*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .ms-movie-content a {
            color: #FF3300;
            transition: 0.2s all ease;
        }

            .ms-movie-content a:hover {
                color: #F1F1F1;
                background-color: #FF3300;
            }
</style>